/* Containers */
.container {
  box-sizing: border-bor;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-m {
  box-sizing: border-bor;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Botão */
.btn-amarelo {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.btn-amarelo:hover {
  background: linear-gradient(#ffb60d, #e59317);
  cursor: pointer;
}

@media (max-width: 600px) {
  .btn-amarelo {
    padding: 12px 16px;
    font-size: 1rem;
  }
}