/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--cor-0);
  color: var(--cor-11);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img[src$=".jpg"] {
  border-radius: 10px;
}